<html>
<head>
<title>Encore Automotive Parts</title>
<link rel="stylesheet" type="text/css" href="static/page_header/css/encore.css">
<link rel="stylesheet" type="text/css" href="static/page_header/css/bootstrap.min.css">

<script type="text/javascript" src="static/page_header/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="static/page_header/js/jquery.jcarousel.min.js"></script>
<script type="text/javascript" src="static/page_header/js/modernizr-custom.js"></script>
<script type="text/javascript" src="static/page_header/js/jquery-ui.min.js"></script>

{% if partspage %}

<link type="text/css" rel="stylesheet" href="/static/page_header/css/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="/static/page_parts/encoreparts.css">
<link rel="stylesheet" type="text/css" href="/static/page_header/css/w3.css">

<script type="text/javascript" src="/static/page_header/js/popper.min.js"></script>
<script type="text/javascript" src="/static/page_header/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/page_parts/encoreparts.js"></script>
<script type="text/javascript" src="/static/page_header/js/jquery-ui.min.js"></script>

{% endif %}

</head>
<body>




<div class="titlebar">

    <div class="container-fluid maincontents">  
    
        <!-- Our Story -->
        <div class="row">
            <div class="col-2-lg">
                <span class="titleitem">
                    <img class="menubarlogo" src="static/page_header/Encore-Logo-MenuBar.jpg">
                </span>
            </div> <!-- close <div class="col"> -->
            <div class="col-1-lg">
                <div class="titleitem titleitemtext">
                    |
                </div>
            </div> <!-- close <div class="col"> -->
            <div class="col-2-lg">
                <div class="titleitem titleitemtext">
                    <a class="enchoverlink" href="/">Our Story</a>
                </div>
            </div> <!-- close <div class="col"> -->
            <div class="col-1-lg">
                <div class="titleitem titleitemtext">
                    |
                </div>
            </div> <!-- close <div class="col"> -->
            <div class="col-2-lg">
                <div class="titleitem titleitemtext">
                    <a class="enchoverlink" href="parts">Products</a>
                </div>                
            </div> <!-- close <div class="col"> -->
            <div class="col-1-lg">
                <div class="titleitem titleitemtext">
                    |
                </div>
            </div> <!-- close <div class="col"> -->
            <div class="col-2-lg">
                <div class="titleitem titleitemtext">
                    <a class="enchoverlink" href="#">Contact</a>
                </div>                
            </div> <!-- close <div class="col"> -->
            <div class="col-1-lg">
                <div class="titleitem titleitemtext">
                    |
                </div>
            </div> <!-- close <div class="col"> -->

        </div> <!-- <div class="row encrow"> -->
    </div>

    </div> <!-- close <div class="titlebarinner"> -->
    
    <div class="titlefade2"></div>
        
</div>

<br><br><br>

